.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem;
}
.navbar span {
  font-style: oblique;
  color: red;
  font-size: larger;
}
.navbar button {
  background-color: red;
  color: white;
  padding: 1rem 1rem;
}
.text {
  color: antiquewhite;
  text-align: center;
  padding: 8rem;
}
body {
  background-color: black;
}
.bckgrd-image {
  background-image: url("ZW-en-20221228-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  width: auto;
  height: auto;
  opacity: 1;
}
.textP2 {
  color: antiquewhite;
  text-align: left;
  object-fit: right;
  background-image: url("tv.png");
  width: auto;
  height: auto;
}
.first-image {
  background-image: url("mobile-0819.jpg");
  object-fit: right;
  width: auto;
  height: auto;
}
.textP3{color: whitesmoke;}
.textP4{color:whitesmoke ;}

.second-image {
  background-image: url("AAAABfpnX3dbgjZ-Je8Ax3xn0kXehZm_5L6-xe6YSTq_ucht9TI5jwDMqusWZKNYT8DfGudD0_wWVVTFLiN2_kaQJumz2iivUWbIbAtF.png");
  border: 3rem 2rem;
  border-radius: 2rem;
  padding: 1rem;
  width: fit-content;
  height: auto;
  object-fit: right;
}
